<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oy.vent"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />
    
    <!-- Permission - Internet Connect -->
    <uses-permission android:name="android.permission.INTERNET" />
 
    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Permission to write files, i.e. temp images -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <!--  Permission to read files, i.e. temp images -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    <!-- NETWORK_PROVIDER and GPS_PROVIDER permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- NETWORK_PROVIDER permissions  -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        
         <activity
            android:name="com.oy.vent.LoginActivity"
            android:label="@string/app_name" 
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>        
        
         <activity android:name="com.oy.vent.MainActivity"
            	android:label="@string/app_name"
            	android:configChanges="keyboardHidden|orientation|screenSize"></activity>
         
         <activity android:name="com.oy.vent.RegisterActivity"
            	android:label="@string/app_name"
            	android:configChanges="keyboardHidden|orientation|screenSize"></activity>
         
          <activity android:name="com.oy.vent.ImageDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.oy.vent.MainActivity"
            android:theme="@style/AppTheme.FullScreen" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.oy.vent.MainActivity" />
          </activity>
            
          <activity
            android:name="com.oy.vent.AddFeedActivity"
            android:label="@string/title_fullscreen_image" 
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        
    </application>

</manifest>
